<div class="container">
  <div class="row">
    <div class="span12">
	  <h1>Listing Images</h1>
	  <p id="notice"><%= notice %></p>
	</div>
  </div>
  <%= render :partial => "images", :locals => {:images => @images} %>