<div class="container">
  <div class="row">
  	<div class="span12">
	  <h1>New image</h1>

	  <%= render 'form' %>

	  <%= link_to 'Back', image_bank_images_path, :class => "btn" %>
	</div><!-- span12 -->
  </div><!-- row -->
</div><!-- container -->