<!DOCTYPE html>
<html>
<head>
  <title>SimpleImageBank</title>
  <%= stylesheet_link_tag    "simple_image_bank/application", :media => "all" %>
  <%= javascript_include_tag "simple_image_bank/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
